@import "../../assets/main.css";

html,
body,
#app {
  width: 420px;
  min-height: 580px;
  margin: 0;
}

body {
  overflow-x: hidden;
  background: var(--bg);
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 0;
  background: var(--bronze);
  background-clip: padding-box;
}

#liveblocks-badge {
  display: none !important;
}
